@import "mixin";
.btn{
  display:inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  border:none;
  &:focus,&:focus:active{
    @include outline-shadow-none();
  }
  @include transition(all,$time,$animate);
  font-size:14px;
  @include h-radius($form-height);
  padding: 0 12px;
  &.btn-lg{
    font-size:24px;
    padding: 0 30px;
    @include h-radius(50px,50px,$radius);
  }
  &.btn-md{
    font-size:22px;
    padding: 0 20px;
    @include h-radius($form-height-md,$form-height-md,$form-height-md);
  }
  &.btn-xs{
    font-size:13px;
    padding: 0 8px;
    @include h-radius($form-height-sm,$form-height-sm,$form-height-sm);
  }
}
.btn-theme{
  color:#fff;
  @include bg-opacity(rgba($theme,.9),rgba($theme,.9));
  &:hover,&:focus{
    color:#fff;
    background-color: $theme;
  }
}
.btn-green{
  color:#fff;
  @include bg-opacity(rgba($green,.9),rgba($green,.9));
  &:hover,&:focus{
    color:#fff;
    background-color: $green;
  }
}